.DS_Store            
.idea/               
.vscode/             
*.log                
*.tmp               
*.swp                
dist/               
build/              


*/venv/             
.env                 
.env.local           


__pycache__/        
*.py[cod]           


docker-compose.override.yml