venv/                
.python-version     


.env                 
*.env                
instance/          


__pycache__/        
*.pyc              
*.pyd              
*.so          
*.egg-info/         


*.log               
.cache/              


*.db                
*.sqlite           
migrations/         


.coverage          
htmlcov/            
.pytest_cache/     